{    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

#rain_cointener{
width:80%;
margin:35px auto;
background:white;
border-radius:10px;

}


body {
    background-color:rgb(219, 243, 236);
    font-family: 'Open Sans', sans-serif;
    
         }
     
         
         button.blue-button {
            background-color: blue;
            color: white;
          }


.bg_debug{
    background-color:aliceblue;
}

.font_weight_400 {
    font-weight: 400;

}

.green-circle {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: white;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid green;
    margin-right: 8px;
    position: relative;
    font-size: 14px;
    color: green;

    
    .green-circle::before 
        content: "\2713";
}


.green-circle span {
    display: inline-block;
    width: 12px;
    height: 8px;
    border-bottom: 2px solid green;
    border-right: 2px solid green;
    transform: rotate(45deg);


}
.blue-rectangle {
    display: inline-block;
    background-color: blue;
    border-radius: 6px;
    padding: 4px 8px;
}

.blue-rectangle-text {
    color: white;
    font-size: 12px;
}

.arrow-down {
    font-size: 12px;
}















